
<header class="p-3 entete">
    <div >
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"> <use xlink:href="#bootstrap"></use></svg>
          <h4>LFP</h4>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a [routerLink]=" [''] " class="nav-link px-2 text-white" routerLinkActive="active"> <strong>Acceuil</strong> </a></li>
          <li><a [routerLink]=" ['localhost'] " class="nav-link px-2 text-white" routerLinkActive="active"> <strong>Localhost</strong> </a></li>
          <li><a [routerLink]=" ['liste'] " class="nav-link px-2 text-white" routerLinkActive="active">liste</a></li>
          <li><a [routerLink]="['test/#44D434']" class="nav-link px-2 text-white"  routerLinkActive="active">embauché(e)s</a></li>
          <li><a [routerLink]="['style']" class="nav-link px-2 text-white"  routerLinkActive="active">style</a></li>
       
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="rechercher..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">se connecter</button>
          <button type="button" class="btn btn-warning">S'inscrire</button>
        </div>
      </div>
    </div>
  </header>
