<h1>
    Titre du texte
</h1>

<a href="#introduction"><h4>introduction</h4> </a>
<a href="#parti_1"> <h4>partie_1</h4></a>
<a href="#parti_2"><h4>partie_2</h4></a>
<a href="#conclusion"><h4>Conclusion</h4></a>

<hr>

<h3 id="introduction">introduction</h3>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus laboriosam qui reprehenderit sunt aliquid
    soluta voluptatum distinctio vel doloremque dignissimos quam corporis architecto dolore, accusantium sed facilis
    provident omnis amet.
    Totam ullam earum, porro deleniti tenetur quisquam distinctio. Earum commodi hic illo error aliquam rerum ex
    aspernatur nesciunt at odit minus eligendi ipsa, perferendis maxime dicta corrupti. Consequatur, at sunt!
    Animi, soluta! Provident perspiciatis sunt veritatis quis nostrum. Eaque suscipit laboriosam, deserunt porro iste
    saepe vero dolore temporibus sunt neque eum fugit quaerat illo nihil nisi asperiores perferendis vitae alias.
    Fuga beatae accusantium, ut sed quasi qui deserunt delectus excepturi enim tempore. Molestias molestiae nesciunt
    explicabo doloribus quos quas adipisci, nobis quidem, fugit dolorum magnam laboriosam provident distinctio quae
    earum.
    Tempora doloribus voluptas animi. Consectetur adipisci laborum sint odit eveniet, quae culpa quod numquam error
    doloribus deleniti, ullam molestiae perferendis ad nulla eum dolores fugiat, at dolorem dolorum quibusdam maiores?

</p>

<h3 id="parti_1">partie_1</h3>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim corrupti, nulla nisi autem tempora doloribus, sed quam
    similique quidem minus veniam vitae laudantium, alias nihil ducimus? Unde nostrum dolores odit!
    Repudiandae eaque adipisci quo praesentium earum doloribus porro harum, illo facere sequi corporis dolorum
    voluptatibus quod velit alias dicta dignissimos esse eum qui fuga deleniti itaque, molestiae debitis accusantium.
    Ut.
    Magni est dicta nostrum corrupti quod nam, repellendus corporis distinctio! Possimus libero ipsa porro consectetur,
    dignissimos voluptatibus distinctio, nisi veritatis blanditiis voluptatum illo aperiam quo dolor aliquid dolores,
    consequatur odio?
</p>
<h3 id="parti_2">partie_2</h3>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos sunt necessitatibus ducimus quod! Accusantium
    blanditiis, corporis, sit esse inventore modi neque ipsum quam eos ut similique beatae. Deleniti, omnis beatae.
    Rem sequi maxime eius dolore, cupiditate ad illum vero delectus. Delectus, placeat sequi laborum consequuntur magni
    expedita sapiente vitae fuga nulla aspernatur modi iste et voluptas debitis, earum assumenda totam.
</p>

<h3 id="conslusion">conslusion</h3>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim fugit consectetur quis nemo tenetur cupiditate, sequi
    ut exercitationem reiciendis dicta? Distinctio harum velit labore aspernatur odit ipsum nihil culpa cupiditate?
    Cumque dolorem sed neque, minus provident enim. Deserunt tenetur dolorem ut facilis obcaecati voluptates. Porro
    impedit recusandae, autem aliquam, explicabo voluptatum voluptatem quisquam, minima eligendi nisi omnis enim ducimus
    delectus.
</p>