<hr>
<div>
    more information about this personne

    
    <ul>
        <li>id : {{ personne.id }} </li>
        <li>prenom : {{ personne.prenom }} </li>
        <li>age : {{ personne.age }} </li>
        <li>job : {{ personne.job }} </li>
    </ul>

    <hr>

    <a [routerLink]="['/#deuxieme']"><button class="btn btn-success">Article 2</button> </a>

    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum quia consequatur saepe voluptas vero suscipit consequuntur ullam voluptatum enim ratione. Qui id sequi architecto velit! Repellat eligendi quas excepturi consequuntur.
        Alias mollitia voluptate a commodi provident tempora consequuntur fuga possimus, laudantium nemo in distinctio sequi reprehenderit. Provident, ex ab. Eius at distinctio dolorum voluptate incidunt deleniti quos harum deserunt consequuntur.
        Rerum cum beatae voluptates quas saepe eveniet ipsum iusto nemo atque animi molestiae id quae recusandae obcaecati autem, ab tempore rem porro quod quisquam unde. Illum adipisci fuga dolores possimus?
        Quos quo labore vero maiores eius, officiis quas fuga voluptatum veniam sint minima, voluptatibus eaque. Sint, illo quisquam sed eos a odit. Vel sint distinctio quam ea perferendis officiis nostrum!   
     </p>
     
     <p>    
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla a iure ea ratione est perspiciatis suscipit animi molestias, accusantium ipsum illo sunt error alias qui. Reprehenderit ducimus ad vero tempore!
         Tempora excepturi temporibus autem accusantium consectetur non. Nemo rerum velit tempora minus quis quasi sit culpa! Ad qui repellendus tenetur modi asperiores quibusdam quasi impedit, quos et, explicabo autem esse.
         Consectetur, officia fugiat pariatur repellendus possimus impedit nostrum fuga laborum neque iste ab eaque unde voluptatem dignissimos deserunt placeat sed recusandae velit quibusdam, atque ipsa! Maxime odit velit delectus pariatur.
         Excepturi repellat accusantium velit reiciendis maxime ratione eum veritatis delectus? Aliquid nostrum magni fuga eaque cupiditate, harum doloremque mollitia excepturi in esse quaerat at tempore tempora minus quod aspernatur aperiam.
         Earum illum, beatae sit ab rem temporibus quod expedita nemo iste doloribus unde distinctio sunt laboriosam delectus ut perspiciatis provident. Excepturi repudiandae dolor et facilis veritatis facere ut temporibus modi!
     </p>
     <h4 id="deuxieme">Article 2</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos soluta recusandae porro quibusdam dolorum eligendi saepe excepturi, maxime, officia deleniti quam quod. Laudantium incidunt, quam qui voluptatum omnis repudiandae unde.
            Repellendus sint voluptates placeat voluptate debitis, vel provident delectus. Cum exercitationem rerum ipsam voluptates, quo doloremque dolorum porro ratione odio quae fuga doloribus officiis magnam laboriosam quasi natus omnis fugiat!
            Itaque quis dolorem, fugiat similique dolore perspiciatis illum perferendis quisquam veniam modi iure incidunt, quibusdam optio excepturi iusto provident possimus! Impedit accusamus error atque facere recusandae fugit necessitatibus deserunt nostrum.
            Ex, libero! Quod eius numquam nemo distinctio illum, cum minima nisi non tempora commodi ex sunt quisquam mollitia culpa harum consectetur voluptates nesciunt provident itaque iste ab reiciendis iure officiis.
            Hic natus itaque officia consequuntur tempore? Illo nemo itaque aliquid omnis autem harum nulla, doloremque architecto, unde exercitationem vitae adipisci dolor, culpa temporibus quia quo sed! Neque sequi praesentium magnam.
        </p>
</div>