

<br>
<div class="container">
    <div class="row">
        <div class="col-5">
            <select class="form-select"  #componentSelect (click)="goToComponent(componentSelect.value)" >
            <option value="liste">liste </option>
            <option value="style">style</option>
            <option value="/">acceuil</option>
            </select>
        </div>
        <div class="col-6 col-md-4">
            <form  class="form-group" >
                <input type="text" class="form-control" placeholder="your name please">
            </form>
        </div>
        
    </div>
</div>